In [48]:
# Import necessary libraries
import pandas as pd
import numpy as np

## instructions

Load the dataset, display the ten first lines, store the results in a variable called 'client_0_bills'.
What is the data type of the 'client_0_bills' variable ?
Display the general information of the dataset and try to answer the following questions :
How many rows and columns do we have in this dataset ?
How many categorical features are present in the dataset ?
How much memory space does the dataset consume ?
Inspect the dataset for potential missing values.
Select your strategy to handle missing values, and tell us why you had made that choice.
Run a descriptive analysis on numeric features (columns).
Select the bills records for the client with an id ='train_Client_0', using 2 methods.
Transform the 'counter_type' feature to a numeric variable using the encoder of your choice.
Delete the 'counter_statue' feature from the Dataframe



## Instructions

    *Load the dataset, display the ten first lines, store the results in a variable called 'client_0_bills'.
    *What is the data type of the 'client_0_bills' variable ?
    *Display the general information of the dataset and try to answer the following questions :
    *How many rows and columns do we have in this dataset ?
    *How many categorical features are present in the dataset ?
    *How much memory space does the dataset consume ?
    *Inspect the dataset for potential missing values.
    *Select your strategy to handle missing values, and tell us why you had made that choice.
    *Run a descriptive analysis on numeric features (columns).
    *Select the bills records for the client with an id ='train_Client_0', using 2 methods.
    *Transform the 'counter_type' feature to a numeric variable using the encoder of your choice.
    *Delete the 'counter_statue' feature from the Dataframe

In [57]:
# Load the Dataset
Data_file = pd.read_csv(r"C:\Users\User\Desktop\gomycode\STEG_BILLING_HISTORY.XXxsocsT.csv.part")
Data_file.head()

C:\Users\User\AppData\Local\Temp\ipykernel_15532\3741225199.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  Data_file = pd.read_csv(r"C:\Users\User\Desktop\gomycode\STEG_BILLING_HISTORY.XXxsocsT.csv.part")

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11.0,1335667.0,0,203.0,8.0,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,ELEC
1,train_Client_0,2013-03-29,11.0,1335667.0,0,203.0,6.0,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,ELEC
2,train_Client_0,2015-03-23,11.0,1335667.0,0,203.0,8.0,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,ELEC
3,train_Client_0,2015-07-13,11.0,1335667.0,0,207.0,8.0,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,ELEC
4,train_Client_0,2016-11-17,11.0,1335667.0,0,207.0,9.0,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,ELEC

In [59]:
Data_file.months_number.nunique()

1102

In [102]:
# Display the first ten lines and store the results in a variable called 'client_0_bills'
client_0_bills = Data_file.head(5)
print(client_0_bills)

        client_id invoice_date  tarif_type  counter_number counter_statue  \
0  train_Client_0   2014-03-24        11.0       1335667.0              0
1  train_Client_0   2013-03-29        11.0       1335667.0              0
2  train_Client_0   2015-03-23        11.0       1335667.0              0
3  train_Client_0   2015-07-13        11.0       1335667.0              0
4  train_Client_0   2016-11-17        11.0       1335667.0              0

   counter_code  reading_remarque  counter_coefficient  consommation_level_1  \
0         203.0               8.0                  1.0                  82.0
1         203.0               6.0                  1.0                1200.0
2         203.0               8.0                  1.0                 123.0
3         207.0               8.0                  1.0                 102.0
4         207.0               9.0                  1.0                 572.0

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                   0.0                   0.0                   0.0
1                 184.0                   0.0                   0.0
2                   0.0                   0.0                   0.0
3                   0.0                   0.0                   0.0
4                   0.0                   0.0                   0.0

   old_index  new_index  months_number counter_type
0    14302.0    14384.0            4.0         ELEC
1    12294.0    13678.0            4.0         ELEC
2    14624.0    14747.0            4.0         ELEC
3    14747.0    14849.0            4.0         ELEC
4    15066.0    15638.0           12.0         ELEC

In [104]:
# Check the data type of the 'client_0_bills' variable
print("\nData type of 'client_0_bills':", type(client_0_bills))

Data type of 'client_0_bills': <class 'pandas.core.frame.DataFrame'>

In [106]:
client_0_bills.dtypes

client_id                object
invoice_date             object
tarif_type              float64
counter_number          float64
counter_statue           object
counter_code            float64
reading_remarque        float64
counter_coefficient     float64
consommation_level_1    float64
consommation_level_2    float64
consommation_level_3    float64
consommation_level_4    float64
old_index               float64
new_index               float64
months_number           float64
counter_type             object
dtype: object

In [110]:
# Display general information of the dataset
print("\nGeneral information of the dataset:")
Data_file.info()

General information of the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2915599 entries, 0 to 2915598
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            float64
 3   counter_number        float64
 4   counter_statue        object
 5   counter_code          float64
 6   reading_remarque      float64
 7   counter_coefficient   float64
 8   consommation_level_1  float64
 9   consommation_level_2  float64
 10  consommation_level_3  float64
 11  consommation_level_4  float64
 12  old_index             float64
 13  new_index             float64
 14  months_number         float64
 15  counter_type          object
dtypes: float64(12), object(4)
memory usage: 355.9+ MB

In [112]:
Data_file.describe()

,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number
count,2.915598e+06,2.915571e+06,2.915598e+06,2.912686e+06,2.915598e+06,2.915598e+06,2.915598e+06,2.915598e+06,2.915598e+06,2.915598e+06,2.915598e+06,2.915598e+06
mean,2.010178e+01,1.209214e+11,1.729068e+02,7.320896e+00,1.004380e+00,4.108290e+02,1.092672e+02,2.046192e+01,5.258731e+01,1.786596e+04,1.845317e+04,5.137433e+01
std,1.346434e+01,1.641976e+12,1.339986e+02,1.619104e+00,3.811859e-01,8.299550e+02,1.265760e+03,1.668403e+02,8.403125e+02,4.040239e+04,4.099507e+04,3.313467e+03
min,8.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,1.100000e+01,1.215220e+05,5.000000e+00,6.000000e+00,1.000000e+00,8.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.800000e+03,2.067000e+03,4.000000e+00
50%,1.100000e+01,4.965410e+05,2.030000e+02,8.000000e+00,1.000000e+00,2.740000e+02,0.000000e+00,0.000000e+00,0.000000e+00,7.735000e+03,8.237000e+03,4.000000e+00
75%,4.000000e+01,1.118150e+06,2.070000e+02,9.000000e+00,1.000000e+00,6.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,2.176700e+04,2.245800e+04,4.000000e+00
max,4.500000e+01,2.798115e+13,6.000000e+02,4.130000e+02,5.000000e+01,9.999100e+05,9.990730e+05,6.449200e+04,3.435680e+05,2.800280e+06,2.870972e+06,6.366240e+05

In [216]:
# How many rows and columns do we have in this dataset ?
Data_file.shape

(2915599, 16)

In [218]:
# How many categorical features are present in the dataset ?
(Data_file.dtypes == object).sum()

2

In [116]:
Data_file_info = Data_file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2915599 entries, 0 to 2915598
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            float64
 3   counter_number        float64
 4   counter_statue        object
 5   counter_code          float64
 6   reading_remarque      float64
 7   counter_coefficient   float64
 8   consommation_level_1  float64
 9   consommation_level_2  float64
 10  consommation_level_3  float64
 11  consommation_level_4  float64
 12  old_index             float64
 13  new_index             float64
 14  months_number         float64
 15  counter_type          object
dtypes: float64(12), object(4)
memory usage: 355.9+ MB

In [220]:
Data_file.info

<bound method DataFrame.info of                   client_id invoice_date  tarif_type  counter_number  \
0            train_Client_0   2014-03-24        11.0       1335667.0
1            train_Client_0   2013-03-29        11.0       1335667.0
2            train_Client_0   2015-03-23        11.0       1335667.0
3            train_Client_0   2015-07-13        11.0       1335667.0
4            train_Client_0   2016-11-17        11.0       1335667.0
...                     ...          ...         ...             ...
2915594  train_Client_57561   2017-06-10        11.0        503670.0
2915595  train_Client_57561   2013-06-06        11.0        503670.0
2915596  train_Client_57561   2012-01-27        11.0        503670.0
2915597  train_Client_57561   2011-05-30        11.0        503670.0
2915598            train_Cl   2019-03-09        11.0        496541.0

         counter_code  reading_remarque  counter_coefficient  \
0               203.0               8.0                  1.0
1               203.0               6.0                  1.0
2               203.0               8.0                  1.0
3               207.0               8.0                  1.0
4               207.0               9.0                  1.0
...               ...               ...                  ...
2915594         413.0               9.0                  1.0
2915595         413.0               8.0                  1.0
2915596         413.0               8.0                  1.0
2915597         413.0               6.0                  1.0
2915598         203.0               8.0                  1.0

         consommation_level_1  consommation_level_2  consommation_level_3  \
0                        82.0                   0.0                   0.0
1                      1200.0                 184.0                   0.0
2                       123.0                   0.0                   0.0
3                       102.0                   0.0                   0.0
4                       572.0                   0.0                   0.0
...                       ...                   ...                   ...
2915594                 800.0                 400.0                 800.0
2915595                2400.0                3886.0                   0.0
2915596                1200.0                1824.0                   0.0
2915597                1200.0                2693.0                   0.0
2915598                 274.0                   0.0                   0.0

         consommation_level_4  old_index  new_index  months_number  \
0                         0.0    14302.0    14384.0            4.0
1                         0.0    12294.0    13678.0            4.0
2                         0.0    14624.0    14747.0            4.0
3                         0.0    14747.0    14849.0            4.0
4                         0.0    15066.0    15638.0           12.0
...                       ...        ...        ...            ...
2915594                 332.0    70307.0    72639.0            4.0
2915595                   0.0    41045.0    47331.0            8.0
2915596                   0.0    30159.0    33183.0            4.0
2915597                   0.0    21322.0    25215.0            4.0
2915598                   0.0     7735.0     8237.0            4.0

         counter_type  counter_type_numeric
0                   0                     0
1                   0                     0
2                   0                     0
3                   0                     0
4                   0                     0
...               ...                   ...
2915594             0                     0
2915595             0                     0
2915596             0                     0
2915597             0                     0
2915598             0                     0

[2915599 rows x 16 columns]>

In [118]:
# Answering the questions:
# How many rows and columns do we have in this dataset?
rows, columns = Data_file.shape
print("\nNumber of rows:", rows)
print("Number of columns:", columns)

Number of rows: 2915599
Number of columns: 16

In [124]:
num_rows, num_columns = Data_file.shape
print(f"Number of rows: {num_rows} Number of columns: {num_columns}")

Number of rows: 2915599 Number of columns: 16

In [222]:
# How much memory space does the dataset consume ?
Data_file.info()

# The frame below tells us it consumes 546.5mb of memory

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2915599 entries, 0 to 2915598
Data columns (total 16 columns):
 #   Column                Dtype
---  ------                -----
 0   client_id             object
 1   invoice_date          object
 2   tarif_type            float64
 3   counter_number        float64
 4   counter_code          float64
 5   reading_remarque      float64
 6   counter_coefficient   float64
 7   consommation_level_1  float64
 8   consommation_level_2  float64
 9   consommation_level_3  float64
 10  consommation_level_4  float64
 11  old_index             float64
 12  new_index             float64
 13  months_number         float64
 14  counter_type          int32
 15  counter_type_numeric  int32
dtypes: float64(12), int32(2), object(2)
memory usage: 333.7+ MB

In [224]:
# Inspect the dataset for potential missing values.
Data_file.isnull().sum()

client_id               0
invoice_date            0
tarif_type              0
counter_number          0
counter_code            0
reading_remarque        0
counter_coefficient     0
consommation_level_1    0
consommation_level_2    0
consommation_level_3    0
consommation_level_4    0
old_index               0
new_index               0
months_number           0
counter_type            0
counter_type_numeric    0
dtype: int64

In [226]:
# Run a descriptive analysis on numeric features (columns).
numeric_features = Data_file.select_dtypes(include=['int64', 'float64'])
numeric_features.describe()

,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number
count,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06
mean,2.010178e+01,1.209202e+11,1.729068e+02,7.321574e+00,1.004380e+00,4.108289e+02,1.092672e+02,2.046191e+01,5.258729e+01,1.786595e+04,1.845317e+04,5.137431e+01
std,1.346434e+01,1.641968e+12,1.339986e+02,1.618438e+00,3.811858e-01,8.299549e+02,1.265760e+03,1.668402e+02,8.403123e+02,4.040238e+04,4.099507e+04,3.313467e+03
min,8.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,1.100000e+01,1.215220e+05,5.000000e+00,6.000000e+00,1.000000e+00,8.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.800000e+03,2.067000e+03,4.000000e+00
50%,1.100000e+01,4.965410e+05,2.030000e+02,8.000000e+00,1.000000e+00,2.740000e+02,0.000000e+00,0.000000e+00,0.000000e+00,7.735000e+03,8.237000e+03,4.000000e+00
75%,4.000000e+01,1.118150e+06,2.070000e+02,9.000000e+00,1.000000e+00,6.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,2.176700e+04,2.245800e+04,4.000000e+00
max,4.500000e+01,2.798115e+13,6.000000e+02,4.130000e+02,5.000000e+01,9.999100e+05,9.990730e+05,6.449200e+04,3.435680e+05,2.800280e+06,2.870972e+06,6.366240e+05

In [128]:
# How many categorical features are present in the dataset?
categorical_features = Data_file.select_dtypes(include=['object']).columns
print("\nCategorical features:", categorical_features)
print("Number of categorical features:", len(categorical_features))

Categorical features: Index(['client_id', 'invoice_date', 'counter_statue', 'counter_type'], dtype='object')
Number of categorical features: 4

In [130]:
# Count categorical features
categorical_features = Data_file.select_dtypes(include=['object']).columns
num_categorical_features = len(categorical_features)
print(f"Number of categorical features: {num_categorical_features}")

Number of categorical features: 4

In [132]:
# How much memory space does the dataset consume?
memory_usage = Data_file.memory_usage(deep=True).sum()
print("\nMemory usage of the dataset (in bytes):", memory_usage)

Memory usage of the dataset (in bytes): 907155426

In [134]:
memory_usage = Data_file.memory_usage(deep=True).sum()
(f"Memory usage: {memory_usage} bytes")

'Memory usage: 907155426 bytes'

### Select your strategy to handle missing values, and tell us why you had made that choice


Hadling missing values is based on some critical points

    1.What type of data is it, is it categorical or nnumerical
    2.Will not having that whole column that appears to have more than 30% null values affect our data
    3.Now, if they are important rows and columns, and numerical, i prefer to fill with the mean of that column
    4.Also, if they categorical, mode of the column will suffice
    5.If a column has more than 30% null values, it will be dropped 6, Ultimately, filling null values should be after in-depth understanding of the data

In [136]:
# Inspect the dataset for potential missing values
missing_values = Data_file.isnull().sum()
print("\nMissing values in the dataset:\n", missing_values)

Missing values in the dataset:
 client_id                  0
invoice_date               1
tarif_type                 1
counter_number            28
counter_statue             1
counter_code               1
reading_remarque        2913
counter_coefficient        1
consommation_level_1       1
consommation_level_2       1
consommation_level_3       1
consommation_level_4       1
old_index                  1
new_index                  1
months_number              1
counter_type               1
dtype: int64

In [140]:
missing_values = Data_file.isnull().sum()
print(missing_values[missing_values > 0])

invoice_date               1
tarif_type                 1
counter_number            28
counter_statue             1
counter_code               1
reading_remarque        2913
counter_coefficient        1
consommation_level_1       1
consommation_level_2       1
consommation_level_3       1
consommation_level_4       1
old_index                  1
new_index                  1
months_number              1
counter_type               1
dtype: int64

In [232]:
# Handling missing values
# For example, we'll fill missing values with the median for numerical features and mode for categorical features
# Example strategy: Fill missing values with the mean for numeric columns

In [158]:
# Descriptive analysis
descriptive_stats = Data_file.describe()
descriptive_stats.head()

,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number
count,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06
mean,2.010178e+01,1.209202e+11,1.729068e+02,7.321574e+00,1.004380e+00,4.108289e+02,1.092672e+02,2.046191e+01,5.258729e+01,1.786595e+04,1.845317e+04,5.137431e+01
std,1.346434e+01,1.641968e+12,1.339986e+02,1.618438e+00,3.811858e-01,8.299549e+02,1.265760e+03,1.668402e+02,8.403123e+02,4.040238e+04,4.099507e+04,3.313467e+03
min,8.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,1.100000e+01,1.215220e+05,5.000000e+00,6.000000e+00,1.000000e+00,8.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.800000e+03,2.067000e+03,4.000000e+00

In [230]:
# Run a descriptive analysis on numeric features (columns).
numeric_features = Data_file.select_dtypes(include=['int64', 'float64'])
numeric_features.describe()

,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number
count,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06,2.915599e+06
mean,2.010178e+01,1.209202e+11,1.729068e+02,7.321574e+00,1.004380e+00,4.108289e+02,1.092672e+02,2.046191e+01,5.258729e+01,1.786595e+04,1.845317e+04,5.137431e+01
std,1.346434e+01,1.641968e+12,1.339986e+02,1.618438e+00,3.811858e-01,8.299549e+02,1.265760e+03,1.668402e+02,8.403123e+02,4.040238e+04,4.099507e+04,3.313467e+03
min,8.000000e+00,0.000000e+00,0.000000e+00,6.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,1.100000e+01,1.215220e+05,5.000000e+00,6.000000e+00,1.000000e+00,8.000000e+01,0.000000e+00,0.000000e+00,0.000000e+00,1.800000e+03,2.067000e+03,4.000000e+00
50%,1.100000e+01,4.965410e+05,2.030000e+02,8.000000e+00,1.000000e+00,2.740000e+02,0.000000e+00,0.000000e+00,0.000000e+00,7.735000e+03,8.237000e+03,4.000000e+00
75%,4.000000e+01,1.118150e+06,2.070000e+02,9.000000e+00,1.000000e+00,6.000000e+02,0.000000e+00,0.000000e+00,0.000000e+00,2.176700e+04,2.245800e+04,4.000000e+00
max,4.500000e+01,2.798115e+13,6.000000e+02,4.130000e+02,5.000000e+01,9.999100e+05,9.990730e+05,6.449200e+04,3.435680e+05,2.800280e+06,2.870972e+06,6.366240e+05

In [162]:
# Method 1: Using boolean indexing
client_0_records_1 = Data_file[Data_file['client_id'] == 'train_Client_0']

# Method 2: Using query method
client_0_records_2 = Data_file.query("client_id == 'train_Client_0'")

In [164]:
# Run a descriptive analysis on numeric features
numeric_features = Data_file.select_dtypes(include=['number'])
descriptive_analysis = numeric_features.describe()
print("\nDescriptive analysis on numeric features:\n", descriptive_analysis)

Descriptive analysis on numeric features:
          tarif_type  counter_number  counter_code  reading_remarque  \
count  2.915599e+06    2.915599e+06  2.915599e+06      2.915599e+06
mean   2.010178e+01    1.209202e+11  1.729068e+02      7.321574e+00
std    1.346434e+01    1.641968e+12  1.339986e+02      1.618438e+00
min    8.000000e+00    0.000000e+00  0.000000e+00      6.000000e+00
25%    1.100000e+01    1.215220e+05  5.000000e+00      6.000000e+00
50%    1.100000e+01    4.965410e+05  2.030000e+02      8.000000e+00
75%    4.000000e+01    1.118150e+06  2.070000e+02      9.000000e+00
max    4.500000e+01    2.798115e+13  6.000000e+02      4.130000e+02

       counter_coefficient  consommation_level_1  consommation_level_2  \
count         2.915599e+06          2.915599e+06          2.915599e+06
mean          1.004380e+00          4.108289e+02          1.092672e+02
std           3.811858e-01          8.299549e+02          1.265760e+03
min           0.000000e+00          0.000000e+00          0.000000e+00
25%           1.000000e+00          8.000000e+01          0.000000e+00
50%           1.000000e+00          2.740000e+02          0.000000e+00
75%           1.000000e+00          6.000000e+02          0.000000e+00
max           5.000000e+01          9.999100e+05          9.990730e+05

       consommation_level_3  consommation_level_4     old_index     new_index  \
count          2.915599e+06          2.915599e+06  2.915599e+06  2.915599e+06
mean           2.046191e+01          5.258729e+01  1.786595e+04  1.845317e+04
std            1.668402e+02          8.403123e+02  4.040238e+04  4.099507e+04
min            0.000000e+00          0.000000e+00  0.000000e+00  0.000000e+00
25%            0.000000e+00          0.000000e+00  1.800000e+03  2.067000e+03
50%            0.000000e+00          0.000000e+00  7.735000e+03  8.237000e+03
75%            0.000000e+00          0.000000e+00  2.176700e+04  2.245800e+04
max            6.449200e+04          3.435680e+05  2.800280e+06  2.870972e+06

       months_number
count   2.915599e+06
mean    5.137431e+01
std     3.313467e+03
min     1.000000e+00
25%     4.000000e+00
50%     4.000000e+00
75%     4.000000e+00
max     6.366240e+05

In [184]:
# Select the bills records for the client with an id ='train_Client_0', using 2 methods
# Method 1: Using boolean indexing
client_0_records_1 = Data_file[Data_file['client_id'] == 'train_Client_0']

# Method 2: Using query method
client_0_records_2 = Data_file.query("client_id == 'train_Client_0'")

In [188]:
# Transform the 'counter_type' feature to a numeric variable using Label Encoding
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
Data_file['counter_type_numeric'] = label_encoder.fit_transform(Data_file['counter_type'])

In [236]:
# Select the bills records for the client with an id ='train_Client_0', using 2 methods.
train_client_0 = Data_file[Data_file['client_id'] == 'train_Client_0']
train_client_0.head()

,client_id,invoice_date,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type,counter_type_numeric
0,train_Client_0,2014-03-24,11.0,1335667.0,203.0,8.0,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,0,0
1,train_Client_0,2013-03-29,11.0,1335667.0,203.0,6.0,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,0,0
2,train_Client_0,2015-03-23,11.0,1335667.0,203.0,8.0,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,0,0
3,train_Client_0,2015-07-13,11.0,1335667.0,207.0,8.0,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,0,0
4,train_Client_0,2016-11-17,11.0,1335667.0,207.0,9.0,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,0,0

In [242]:
# Second method, Using loc method
train_client_0_1 = Data_file.loc[Data_file['client_id'] == 'train_Client_0', :]
train_client_0_1.head()

,client_id,invoice_date,tarif_type,counter_number,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type,counter_type_numeric
0,train_Client_0,2014-03-24,11.0,1335667.0,203.0,8.0,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,0,0
1,train_Client_0,2013-03-29,11.0,1335667.0,203.0,6.0,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,0,0
2,train_Client_0,2015-03-23,11.0,1335667.0,203.0,8.0,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,0,0
3,train_Client_0,2015-07-13,11.0,1335667.0,207.0,8.0,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,0,0
4,train_Client_0,2016-11-17,11.0,1335667.0,207.0,9.0,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,0,0

In [190]:
# Select the bills records for the client with an id ='train_Client_0', using 2 methods
# Method 1: Using boolean indexing
client_0_records_1.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11.0,1335667.0,0,203.0,8.0,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,ELEC
1,train_Client_0,2013-03-29,11.0,1335667.0,0,203.0,6.0,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,ELEC
2,train_Client_0,2015-03-23,11.0,1335667.0,0,203.0,8.0,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,ELEC
3,train_Client_0,2015-07-13,11.0,1335667.0,0,207.0,8.0,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,ELEC
4,train_Client_0,2016-11-17,11.0,1335667.0,0,207.0,9.0,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,ELEC

In [192]:
# Method 2: Using query method
client_0_records_2.head()

,client_id,invoice_date,tarif_type,counter_number,counter_statue,counter_code,reading_remarque,counter_coefficient,consommation_level_1,consommation_level_2,consommation_level_3,consommation_level_4,old_index,new_index,months_number,counter_type
0,train_Client_0,2014-03-24,11.0,1335667.0,0,203.0,8.0,1.0,82.0,0.0,0.0,0.0,14302.0,14384.0,4.0,ELEC
1,train_Client_0,2013-03-29,11.0,1335667.0,0,203.0,6.0,1.0,1200.0,184.0,0.0,0.0,12294.0,13678.0,4.0,ELEC
2,train_Client_0,2015-03-23,11.0,1335667.0,0,203.0,8.0,1.0,123.0,0.0,0.0,0.0,14624.0,14747.0,4.0,ELEC
3,train_Client_0,2015-07-13,11.0,1335667.0,0,207.0,8.0,1.0,102.0,0.0,0.0,0.0,14747.0,14849.0,4.0,ELEC
4,train_Client_0,2016-11-17,11.0,1335667.0,0,207.0,9.0,1.0,572.0,0.0,0.0,0.0,15066.0,15638.0,12.0,ELEC

In [256]:
# Transform the 'counter_type' feature to a numeric variable using Label Encoding
from sklearn.preprocessing import LabelEncoder
label_encoder = LabelEncoder()
Data_file['counter_type_numeric'] = label_encoder.fit_transform(Data_file['counter_type'])
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Data_file['counter_type'] = le.fit_transform(Data_file['counter_type'])

In [246]:
# Transform the 'counter_type' feature to a numeric variable using the encoder of your choice.
Counter_type = {
    'counter_type': {
        'ELEC': 1,
        'GAZ': 0
    }
}

Data_file.replace(Counter_type, inplace=True)

Data_file['counter_type'].head()

0    0
1    0
2    0
3    0
4    0
Name: counter_type, dtype: int32

In [202]:
# Delete the 'counter_statue' feature from the DataFrame
Data_file.drop(columns=['counter_statue'], inplace=True)

In [208]:
print("\nDataFrame after transformations:\n", Data_fil.head())

DataFrame after transformations:
         client_id invoice_date  tarif_type  counter_number  counter_code  \
0  train_Client_0   2014-03-24        11.0       1335667.0         203.0
1  train_Client_0   2013-03-29        11.0       1335667.0         203.0
2  train_Client_0   2015-03-23        11.0       1335667.0         203.0
3  train_Client_0   2015-07-13        11.0       1335667.0         207.0
4  train_Client_0   2016-11-17        11.0       1335667.0         207.0

   reading_remarque  counter_coefficient  consommation_level_1  \
0               8.0                  1.0                  82.0
1               6.0                  1.0                1200.0
2               8.0                  1.0                 123.0
3               8.0                  1.0                 102.0
4               9.0                  1.0                 572.0

   consommation_level_2  consommation_level_3  consommation_level_4  \
0                   0.0                   0.0                   0.0
1                 184.0                   0.0                   0.0
2                   0.0                   0.0                   0.0
3                   0.0                   0.0                   0.0
4                   0.0                   0.0                   0.0

   old_index  new_index  months_number  counter_type  counter_type_numeric
0    14302.0    14384.0            4.0             0                     0
1    12294.0    13678.0            4.0             0                     0
2    14624.0    14747.0            4.0             0                     0
3    14747.0    14849.0            4.0             0                     0
4    15066.0    15638.0           12.0             0                     0